:host {
    display: block;
    padding: 10px;
    color: red;
    background: rgba(0,0,0,0.1);
  }

.forms{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Incrementor{
  padding-bottom: 15px;
}