.custom-shape-divider-top-1678469129 {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1678469129 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-top-1678469129 .shape-fill {
    fill: #eed9d9;
}