<div class="Incrementor">
  <span class="Icon PlusIcon" #PlusIcon (mousedown)="upClick()" 
    ><mat-icon>add</mat-icon></span
  >
  <input type="number" [formControl]="incrementorControl" matInput class="formControl"/>
  <span class="Icon MinusIcon" #MinusIcon (mousedown)="downClick()"
    ><mat-icon>minimize</mat-icon></span
  >
</div>
<div class="ErrorMessage">
  <span
    FormError
    [formcontrol]="incrementorControl"
    *ngIf="
      incrementorControl.invalid &&
      (incrementorControl.dirty || incrementorControl.touched)
    "
  >
  </span>
</div>
