.drop-area {
  border: #ccc dashed 2px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: 15px;
  display: flex;
}

:host {
  display: block;
  padding: 15px;
  margin: 20px;
  box-sizing: border-box;
}

ul {
  list-style: none;
  img {
    margin-left: 10px;
  }
}

@media screen and (max-width: 500px) {
  .drop-area {
    display: block;
    width: 80px;
    li {
      padding-bottom: 10px;
    }
  }
}
