<div class="UserContent">
  <h1>User Details</h1>
  <div *ngIf="user$ | async as user">
    <section>
      <h4 class="mat-title">{{ user.name }}</h4>
      <p class="mat-caption">{{ user.email }}</p>
      <p class="mat-caption">User Id: {{ user.id }}</p>
    </section>
    <ul
      class="drop-area"
      [cdkDropListOrientation]="
        (isSmallSize$ | async) ? 'vertical' : 'horizontal'
      "
      cdkDropList
      [cdkDropListData]="user.photos"
      (cdkDropListDropped)="drop($event)"
    >
      <li *ngFor="let photo of user.photos" cdkDrag>
        <a
          [routerLink]="[
            '/Examples/CdkDragDrop',
            { outlets: { details: ['photo', photo.id] } },
          ]"
        >
          <img [src]="photo.thumbnailUrl" width="60" />
          <img
            previewImage
            *cdkDragPreview
            [src]="photo.thumbnailUrl"
            width="60"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
