.grid {
    display: grid;
    gap: 20px;
    &.template-2{
        grid-template-columns: repeat(2, 1fr);   
    }
}

@media screen and (max-width: 600px) {
    .grid {
        &.template-2{
            grid-template-columns: repeat(1, 1fr);   
        }
    }
}