.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    position: relative;
}

.icon {
    position: absolute;
}

.icon {
    padding: 6% 0px 20% 80%;
}

@media (max-width: 600px) {
    .form{
        width: 90%;
    }
    .icon {
        padding: 9% 0px 20% 78%;
    }
}

@media (max-width: 1000px) {
    .form{
         width: 70%;
    }
    .icon {
        padding: 7% 0px 20% 82%;
    }
}

@media (min-width: 1001px) {
    .form{
        width: 50%;
    }
}

.shape-top {
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.2px);
    height: 300px;
}

.shape-top .shape-fill {
    fill: #ffab91;
}

.shape-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.shape-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 350px;
}

.shape-bottom .shape-fill {
    fill: #ffab91;
}
