<div class="container">
  <form [formGroup]="TableForm">
    <table mat-table [dataSource]="dataSource" matTableResponsive class="mat-elevation-z8" style="width: 98%;" matSort>
    
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element; let index = index"> 
          {{ element.id ?? 0}} 
        </td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Nome
        </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <div *ngIf="getFormControl(element.id, 'onEdit')!.value">
            <mat-form-field appearance="outline" class="form-field" floatLabel="always">
              <input matInput type="text" placeholder="Digite seu nome:" [formControl]="getFormControl(element.id, 'nome')">
            </mat-form-field>
          </div>
          <div *ngIf="!getFormControl(element.id, 'onEdit')!.value">
            {{
              element.nome != "" 
              ? element.nome : "Não Inserido"
            }}
          </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="idade">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Idade </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <div *ngIf="getFormControl(element.id, 'onEdit')!.value">
            <mat-form-field appearance="outline" class="form-field" floatLabel="always">
              <mat-label>Idade</mat-label>
              <input matInput placeholder="Sua idade.." type="number" [formControl]="getFormControl(element.id, 'idade')">
            </mat-form-field>
          </div>
          <div *ngIf="!getControl(element).get('onEdit')!.value">
            {{ element.idade ?? "Não Inserido"}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <div *ngIf="getFormControl(element.id, 'onEdit')!.value">
            <mat-form-field appearance="outline" class="form-field" floatLabel="always">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Sua Email.." type="email" [formControl]="getFormControl(element.id, 'email')">
            </mat-form-field>
          </div>
          <div *ngIf="!getControl(element).get('onEdit')!.value">
            {{ element.email ?? "Não Inserido"}}
          </div>
        </td>
      </ng-container>
      
      <ng-container matColumnDef="checkBox">
        <th mat-header-cell *matHeaderCellDef> 
          <mat-checkbox
            [formControl]="checkAll"
            (change)="checkAllFields()"
          ></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element; let index = index"> 
          <mat-checkbox
            (change)="checkSomeField()"
            [formControl]="getFormControl(element.id, 'checked')"
          ></mat-checkbox>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="editField">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="addnewStaticrow()">
            <mat-icon>create_new_folder</mat-icon>
          </button> 
        </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <div *ngIf="getFormControl(element.id, 'onEdit')!.value">
            <button mat-icon-button (click)="setValueControl($any(getControl(element).get('onEdit')), false); handleSave($any(getControl(element)), index)" 
              style="cursor: pointer;" color="primary"
              [disabled]="!FormArray.controls[index].valid">
              <mat-icon>save</mat-icon>
            </button>
          </div>
          <div *ngIf="!getFormControl(element.id, 'onEdit')!.value">
            <button mat-icon-button (click)="setValueControl($any(getControl(element).get('onEdit')), true)" 
              style="cursor: pointer;" color="primary"
              [disabled]="!element.canEdit"
            >
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="excluir">
        <th mat-header-cell *matHeaderCellDef> 
          <button mat-icon-button color="warn" (click)="romoveSelectdsRows()">
            <mat-icon>remove_circle_outline</mat-icon>
          </button> 
        </th>
        <td mat-cell *matCellDef="let element; let index = index">
          <button mat-icon-button color="warn" (click)="deletRow(element, index)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>

  <pre>{{ FormArray.value | json }}</pre>

</div>

<!-- <button mat-icon-button color="warn" (click)="romoveSelectdsRows()">
  <mat-icon>remove_circle_outline</mat-icon>
</button>  -->


getFormControl(element.id, 'email')"