<div class="card" style="width: 100%;">
  <img src="../../../assets/1645298355078.jfif" class="card-img-top" [@fade]>
  <div class="card-body">
    <div class="card-headerCustom">
      <h3 class="card-title">Esse na Imagem  acima sou Eu</h3>
      <span (click)="showCollapse = !showCollapse" class="material-symbols-rounded icon" style="cursor: pointer;">
        {{ showCollapse ? "clear_all" : "density_medium" }}
      </span>
    </div>

    <div class="card card-body" *ngIf="showCollapse" [@slideInOut]>
      Sou um Desenvolvedor Front-End como foco no TypeScript e JavaScript, e nos frameworks Angular, React e Vue. 
    </div>
  
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="icons">
        <a href="https://github.com/pedroping" class="card-link" target="_blank"><img src="../../../assets/25231.png" class="ImageIcon IconHover"></a>
        <a href="https://www.linkedin.com/in/pedro-henrique-chaves-669b10222/" class="card-link" target="_blank"><img src="../../../assets/linkdin.png" class="ImageIcon IconHover"></a>
      </div>
    </li>
  </ul>
</div>