.card-headerCustom {
    display: flex;
    justify-content: space-between;
}

.icon{
    position: relative;
    top: 2px;
}

.ImageIcon{
    height: 35px;
    width: 35px;
    display: block; 
}

.IconHover:hover{
    transform: scale(120%);
}

.icons{
   display: flex;
   justify-content: left;
}