#container {
  overflow-y: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65px !important;
  background-color: transparent;
}

.content{
  .button{
    margin-left: 1px;
  }
  .title{
    padding-top: 18px;
    img{
      width: 30px;
      cursor: pointer;
    }
  }
}