<div id="container">
  <div class="content">
    <div class="title">
      <button
        mat-mini-fab
        class="button"
        routerLink="./"
        matTooltip="Pagina Inicial"
        matTooltipPosition="right"
        color="primary"
      >
        <mat-icon>home</mat-icon>
      </button>
    </div>
    <hr />
    <button
      mat-mini-fab
      class="button"
      [routerLink]="['/Examples/TableWithFormControls']"
      [queryParams]="{teste: 'teste' }"
      matTooltip="Tabela com FormControls"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>table_chart</mat-icon>
    </button>
    <hr />
    <button
      mat-mini-fab
      class="button"
      routerLink="/Examples/TableWithNgModel"
      matTooltip="Tabela com Ng Models"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>table_chart</mat-icon>
    </button>
    <hr />
    <button
      mat-mini-fab
      class="button"
      routerLink="/Examples/CdkTable"
      matTooltip="Tabela Cdk"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>table_chart</mat-icon>
    </button>
    <hr />
    <button
      mat-mini-fab
      class="button"
      routerLink="/Examples/LugarSecreto"
      matTooltip="Pagina com a rota protegida"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>lock</mat-icon>
    </button>
    <hr />
    <button
      mat-mini-fab
      class="button"
      routerLink="/Examples/CdkDragDrop"
      matTooltip="Cdk Drag e Drop"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>build</mat-icon>
    </button>
    <hr />
    <button
      mat-mini-fab
      class="button"
      routerLink="/Examples/formExamples"
      matTooltip="Formulario Dinamicos"
      matTooltipPosition="right"
      color="primary"
    >
      <mat-icon>input</mat-icon>
    </button>
    <hr />
  </div>
</div>