<div class="container" [formGroup]="Form">
  <div class="header">
    <h4>Colunas:</h4>
    <button mat-mini-fab (click)="Close.emit(true)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div
    class="example-list"
    cdkDropList
    (cdkDropListDropped)="drop($event)"
    [ngClass]="{
      onDarkMode: darkModeService.darkMode
    }"
  >
    <div class="example-box" *ngFor="let item of checkboxs" cdkDrag>
      <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
      <div class="item">
        <mat-icon cdkDragHandle>drag_indicator</mat-icon>
        <mat-checkbox [formControlName]="item.formName">
          <span>{{ item.label }}</span>
        </mat-checkbox>

        <div *cdkDragPreview>
          <mat-icon cdkDragHandle>drag_indicator</mat-icon>
          <mat-checkbox [formControlName]="item.formName">
            <span
              [ngStyle]="{
                color: darkModeService.darkMode ? 'white' : 'black'
              }"
              >{{ item.label }}</span
            >
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
