button {
  text-align: left !important;
}

.container{
   position: relative;
}

.shape-top {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.shape-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.2px);
  height: 300px;
}

.shape-top .shape-fill {
  fill: #ffccbc;
}

.noData{
  display: flex;
  justify-content: center;
  align-items: center; 
  img{
    height: 500px;
  } 
}

.btn{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.text-center { text-align: center; }