<div class="shape-top">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>
<div class="shape-bottom">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>
<div class="container">
  <button mat-button (click)="addRow()" [disabled]="isSomeOnEdit()">Adicionar row</button>
  <button mat-button (click)="deleteSelectRow()" [disabled]="anyIsSelected()">
    Deletar rows selecionadas
  </button>
  <table mat-table [dataSource]="dataSource" style="width: 98%" matSort>
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <!-- Header -->

      <div *ngIf="col.type != 'isSelected'; else CheckBoxHeader">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!col.hasSort">
          {{ col.label }}
        </th>
      </div>

      <ng-template #CheckBoxHeader>
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            [(ngModel)]="allSelected"
            (change)="setAll($event)"
          ></mat-checkbox>
        </th>
      </ng-template>

      <!-- Body -->

      <td mat-cell *matCellDef="let element; let index = index" >
        <!-- Body apenas com labels -->

        <div *ngIf="!element.isEdit; else isEdit">
          <!-- Rows com buttons e checkbox -->

          <div [ngSwitch]="col.key">
            <div *ngSwitchCase="'isSelected'">
              <mat-checkbox
                [(ngModel)]="element.isSelected"
                (change)="checkAll()"
              ></mat-checkbox>
            </div>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button
                mat-icon-button
                (click)="setForm(element)"
                style="cursor: pointer"
                color="primary"
                [disabled]="isSomeOnEdit()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="btn-edit" *ngSwitchCase="'delete'">
              <button
                mat-icon-button
                (click)="deleteRow(element)"
                style="cursor: pointer"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <!-- Row com as labels -->

            <div *ngSwitchCase="'dateOfBirth'">
              <span (click)="setForm(element)" style="cursor: pointer">{{
                getDate(col.cell(element))
              }}</span>
            </div>

            <div *ngSwitchDefault style="min-width: 80px">
              <span (click)="setForm(element)" style="cursor: pointer">{{
                col.cell(element)
              }}</span>
            </div>
          </div>
        </div>

        <!-- Body editavel -->

        <ng-template #isEdit>
          <!-- Rows com buttons e checkbox -->
          <div *ngIf="!col.cantEdit; else noEdit">
            <div [ngSwitch]="col.key">
              <div *ngSwitchCase="'isSelected'">
                <mat-checkbox [(ngModel)]="element.isSelected"></mat-checkbox>
              </div>

              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button
                  mat-icon-button
                  (click)="element.isEdit = false; handleDone(element)"
                  [disabled]="EditeFormGroup.invalid"
                  color="primary"
                  style="cursor: pointer"
                >
                  <mat-icon>save</mat-icon>
                </button>
              </div>

              <div class="btn-edit" *ngSwitchCase="'delete'">
                <button
                  mat-icon-button
                  (click)="deleteRow(index)"
                  style="cursor: pointer"
                  color="warn"
                  [disabled]="true"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <!-- Rows com inputs -->

              <div *ngSwitchDefault>
                <div style="padding-top: 5px !important">
                  <form [formGroup]="EditeFormGroup">
                    <mat-form-field appearance="outline">
                      <mat-label>{{ col.inputLabel }}</mat-label>
                      <input
                        [type]="col.type"
                        matInput
                        [formControlName]="col.key"
                      />
                    </mat-form-field>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <ng-template #noEdit>
            {{ col.cell(element) == -1 ? "..." : col.cell(element) }} 
          </ng-template>
        </ng-template>
      </td>

    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  {{ dataSource.data | json }}
</div>

