<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <button
        mat-button
        (click)="addRow()"
        [disabled]="isSomeOnEdit()"
        class="headerActionsButtons"
      >
        Adicionar row
      </button>
      <button
        class="headerActionsButtons"
        mat-button
        (click)="deleteSelectRow()"
        [disabled]="anyIsSelected()"
      >
        Deletar rows selecionadas
      </button>
    </div>
    <div class="col-sm-6 text-end">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar Data...."
        [formControl]="filter"
        [readOnly]="isSomeOnEdit()"
      />
    </div>
  </div>
</div>

<div class="container" *ngIf="dataSource.data.length > 0; else noData">
  <table
    mat-table
    [dataSource]="dataSource"
    style="width: 98%"
    matSort
    class="FormTable tableWithModels"
  >
    <ng-container
      [matColumnDef]="col.key"
      *ngFor="let col of filteredColumnsSchema"
    >
      <!-- Header -->

      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        [disabled]="!col.hasSort"
      >
        <div *ngIf="col.type != 'isSelected'; else CheckBoxHeader">
          {{ col.label }}
        </div>

        <ng-template #CheckBoxHeader>
          <mat-checkbox [formControl]="allSelected"></mat-checkbox>
        </ng-template>
      </th>

      <!-- Body -->

      <td mat-cell *matCellDef="let element; let index = index">
        <!-- Body apenas com labels -->

        <div *ngIf="!element.isEdit; else isEdit">
          <!-- Rows com buttons e checkbox -->

          <div [ngSwitch]="col.key">
            <div *ngSwitchCase="'isSelected'">
              <mat-checkbox
                [formControl]="getFormControl(element.id, 'isSelected')"
                (change)="checkAll()"
              ></mat-checkbox>
            </div>
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button
                mat-icon-button
                (click)="setForm(element)"
                style="cursor: pointer"
                color="accent"
                [disabled]="isSomeOnEdit()"
              >
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="btn-edit" *ngSwitchCase="'delete'">
              <button
                mat-icon-button
                (click)="deleteRow(element)"
                style="cursor: pointer"
                color="warn"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>

            <!-- Row com as labels -->

            <div *ngSwitchCase="'id'">
              <span style="cursor: pointer">
                {{ col.cell(element) == -1 ? "..." : col.cell(element) }}
              </span>
            </div>

            <div *ngSwitchDefault style="min-width: 80px">
              <span style="cursor: pointer">{{ col.cell(element) }}</span>
            </div>
          </div>
        </div>

        <!-- Body editavel -->

        <ng-template #isEdit>
          <!-- Rows com buttons e checkbox -->
          <div *ngIf="!col.cantEdit; else noEdit">
            <div [ngSwitch]="col.key">
              <div *ngSwitchCase="'isSelected'">
                <mat-checkbox
                  [formControl]="getFormControl(element.id, 'isSelected')"
                ></mat-checkbox>
              </div>

              <div *ngSwitchCase="'isEdit'" class="btn-edit">
                <button
                  mat-icon-button
                  (click)="element.isEdit = false; handleDone(element)"
                  [disabled]="getFormGroup(element.id).invalid"
                  color="accent"
                  style="cursor: pointer"
                >
                  <mat-icon>save</mat-icon>
                </button>
              </div>

              <div class="btn-edit" *ngSwitchCase="'delete'">
                <button
                  mat-icon-button
                  (click)="deleteRow(index)"
                  style="cursor: pointer"
                  color="warn"
                  [disabled]="true"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

              <!-- Rows com inputs -->

              <div *ngSwitchDefault>
                <div style="padding-top: 5px !important">
                  <mat-form-field appearance="outline">
                    <mat-label>{{ col.inputLabel }}</mat-label>
                    <input
                      [type]="col.type"
                      matInput
                      [formControl]="getFormControl(element.id, col.key)"
                    />
                    <mat-error
                      FormError
                      [formcontrol]="getFormControl(element.id, col.key)"
                    ></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <ng-template #noEdit>
            {{ col.cell(element) == -1 ? "..." : col.cell(element) }}
          </ng-template>
        </ng-template>
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="filteredDisplayedColumns"
      (click)="ngOnChanges()"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: filteredDisplayedColumns"
      [cdkContextMenuTriggerFor]="menu"
      (contextmenu)="selectedRow = row"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <div>
        <span
          >Nenhum usuario encontrado com base no Filtro:
          {{ filter.value }}</span
        >
      </div>
    </tr>
  </table>
</div>

<ng-template #noData>
  <div class="noData darkColors">
    <div class="container">
      <div class="row text-center">
        <h2>Nenhum Usuario Encontrado!</h2>
      </div>
      <div class="row">
        <img src="../../../assets/No data-pana.svg" />
      </div>
      <div class="row text-center">
        <button
          mat-button
          (click)="addRow()"
          [disabled]="isSomeOnEdit()"
          class="headerActionsButtons"
        >
          Clique aqui para adicionar um Usuario
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #menu>
  <div
    class="example-menu"
    cdkMenu
    [ngClass]="{
      onDarkMode: darkModeService.darkMode
    }"
  >
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="selectTemplate(ColunmsTemplate, 0)"
    >
      Escolher Colunas
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      (click)="selectTemplate(ColunmsTemplate2, 1)"
    >
      Template de Teste
    </button>
    <button
      class="example-menu-item"
      cdkMenuItem
      [disabled]="!selectedRow"
      (click)="setForm(selectedRow)"
    >
      Editar
    </button>
  </div>
</ng-template>

<ng-template #ColunmsTemplate>
  <div
    class="example-dialog-content"
    cdkDrag
    [cdkDragBoundary]="isHighScreen ? '' : '.mat-typography'"
    [cdkDragFreeDragPosition]="dragPosition"
    cdkDragRootElement=".cdk-overlay-pane"
    (cdkDragEnded)="fixMoving(element)"
    (cdkDragMoved)="onMove(element)"
    (resized)="log('Resize')"
    #element
  >
    <div class="header">
      <div class="logo" cdkDragHandle (dblclick)="setCliente(element)">
        Minha pagina
      </div>
      <div class="controls">
        <mat-icon>minimize</mat-icon>
        <mat-icon (click)="setCliente(element)">crop_square</mat-icon>
        <mat-icon (click)="closeElement(0)">close</mat-icon>
      </div>
    </div>
    <app-new-folder></app-new-folder>
  </div>
</ng-template>

<ng-template #ColunmsTemplate2>
  <div
    class="example-dialog-content"
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    [ngStyle]="{
      'background-color': darkModeService.darkMode ? '#303030' : 'white'
    }"
  >
    ColunmsTemplate2
    <button mat-mini-fab (click)="closeElement(1)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</ng-template>
