/* Structure */
.example-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1000px;
}

tui-alert{
  width: 19rem !important;
}
/*
   * Styles to make the demo's cdk-table match the material design spec
   * https://material.io/guidelines/components/data-tables.html
   */
.mat-mdc-paginator {
  background-color: #FAFAFA;
  position: sticky;
  bottom: 0px;
  z-index: 10;
}

.cdk-footer-row,
.example-header-row,
.example-row {
  display: flex;
  border-bottom: 1px solid #ccc;
  align-items: center;
  max-height: 32px;
}

.example-row {
  cursor: pointer;
}

th[cdk-footer-cell],
.example-cell,
.example-header-cell {
  flex: 1;
}

.example-header-cell {
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.54);
}

.example-cell {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

.cdk-footer-row {
  background-color: #FAFAFA;
  bottom: 64px !important;
}

th[cdk-footer-cell]{
  border: none !important;
}

@media screen and (max-width: 700px) {
  .cdk-column-userId {
    width: 20px !important;
    max-width: 20px !important;
  }
  .example-row{
    height: 45px !important;
    max-height: 45px !important;
  }
}
