.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav{
    width: 280px;
    padding: 10px;
}

.example-spacer {
    flex: 1 1 auto;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    span{
        font-size: 17px;    
    }
} 

.main{
    padding: 10px;
}

.header{
    padding-left: 10px;
}

::ng-deep{
    .mat-toolbar{
        background-color: transparent;
    }
}