<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav">  
    <div class="title">
      <span color="primary">Sidenav</span> 
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="btn-group" dropdown style="width: 95%;">
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-animated">
        Exemplos Importantes <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" style="width: 100%;" role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" (click)="sidenav.close()" routerLink="./">Home</a></li>
        <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
          <a dropdownToggle class="dropdown-item dropdown-toggle"
             (click)="false">Data Binding<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples">
                Menu
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/Data-binding">
                Data binding
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
