.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  width: 280px;

  .btn-group{
    padding-left: 5px;
  }
}

.example-spacer {
  flex: 1 1 auto;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    font-size: 17px;
  }
}

.main {
  padding: 5px;
}

.header {
  padding-left: 10px;
}

::ng-deep {
  .mat-toolbar {
    background-color: white;
  }
}

:host {
  ::ng-deep {
    app-side-nav-fechada{
      position: absolute;
      left: 0;
      z-index: 1;
      height: 100%;
      width: 84px !important;
    }
  }
}

.toolbarIcon{
  cursor: pointer;
}

.accordions{
  padding-left: 10px !important;
 
  cdk-accordion-item{
    .example-accordion-item-heade{
      padding-left: 50px !important;
    }
  }
   
}