<app-loader></app-loader>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="sidenav">
    <mat-toolbar style="background-color: transparent;">
      <h3 style="position: relative; top: 5px;">Minha Sidenav</h3>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" (click)="sidenav.close()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <div class="btn-group" dropdown style="width: 95%;">
      <button id="button-animated" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-animated">
        Exemplos Importantes <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" style="width: 100%;" role="menu"
        aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" (click)="sidenav.close()" routerLink="./">Home</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sidenav.close()"
            routerLink="/Examples/TableWithFormControls">Table With Form Controls</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sidenav.close()"
            routerLink="/Examples/TableWithNgModel">Table With Ng Models</a></li>
        <li role="menuitem"><a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/LugarSecreto">Lugar
            Secreto</a></li>
        <li role="menuitem" dropdown triggers="mouseover" placement="right" container="body">
          <a dropdownToggle class="dropdown-item" (click)="false">Data Binding<span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/Data-binding">
                Data binding
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/StyleClass-binding">
                Style & Class binding
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/Event-binding">
                Event binding
              </a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item" (click)="sidenav.close()" routerLink="/Examples/TwoWayData-binding">
                Two Way Data binding
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="sidenav.open()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [matMenuTriggerFor]="menu">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-toolbar>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Mat Menu -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openPerfil()">
    <mat-icon>account_circle</mat-icon>
    <span>Meu Perfil</span>
  </button>
</mat-menu>