<mat-toolbar class="mat-toolbar darkModeContent">
  <button
    mat-icon-button
    style="padding-right: 100px"
    class="example-icon"
    color="accent"
    routerLink="/Examples/CdkDragDrop/users"
  >
    <span>Users</span><mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button
    style="padding-right: 100px"
    mat-icon-button
    color="accent"
    routerLink="/Examples/CdkDragDrop/photos"
  >
    <span>Photos</span><mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div class="container">
  <div class="routerComps" cdkDropListGroup>
    <div class="comp1">
      <router-outlet></router-outlet>
    </div>
    <div>
      <router-outlet name="details"></router-outlet>
    </div>
  </div>
</div>
