html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "./dakrMode.scss";

.container {
  padding-top: 10px;
}

.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

cdk-dialog-container {
  border-radius: 10px;
  background-color: white;
}

.mat-toolbar {
  background-color: transparent !important;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.mat-typography {
  .cdk-overlay-pane.modalClass {
    overflow-y: auto;
    background-color: transparent !important;
    background: transparent !important;
    border-radius: 15px !important;
  }
}

.form-outline .form-control {
  border: #d5d5d5 1px solid;
}

@media screen and (max-width: 500px) {
  app-closed-sidenav {
    display: none !important;
  }
  .drawer-content {
    padding-left: 0px !important;
  }
  .sidenav {
    width: 100% !important;
    cdk-accordion-item {
      width: 98% !important;
      padding-left: 10px;
    }
    cdk-accordion,
    .example-accordion {
      display: block;
      max-width: 98% !important;
      width: 98% !important;
    }
  }

  .tableWithForms {
    th,
    td {
      &:not(
          .cdk-column-checkBox,
          .cdk-column-id,
          .cdk-column-nome,
          .cdk-column-expandedDetail,
          .cdk-column-idade,
          .cdk-column-excluir
        ) {
        display: none !important;
      }
    }
  }

  .tableWithModels {
    th,
    td {
      &:not(.cdk-column-id, .cdk-column-isSelected, .cdk-column-name) {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 409px) {
  .tableWithForms {
    th,
    td {
      &:not(
          .cdk-column-checkBox,
          .cdk-column-id,
          .cdk-column-nome,
          .cdk-column-expandedDetail,
          .cdk-column-excluir
        ) {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 781px) {
  .tableWithForms {
    th,
    td {
      &:is(.cdk-column-email) {
        display: none !important;
      }
    }
  }

  .tableWithModels {
    th,
    td {
      &:is(.cdk-column-email) {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 671px) {
  .tableWithModels {
    th,
    td {
      &:is(.cdk-column-age) {
        display: none !important;
      }
    }
  }
}

@media screen and (max-width: 544px) {
  .tableWithForms {
    th,
    td {
      &:is(.cdk-column-email, .cdk-column-editField) {
        display: none !important;
      }
    }
  }
}
