html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: black;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

.container {
  padding-top: 10px;
}

.darkMode .mat-drawer-container {
  background-color: #303030;
  color: white;

  .sidenav {
    background-color: #303030;
    color: white;
    h3 {
      color: white;
    }
  }

  .mainToolbar,
  .container,
  .UserContent,
  .example-menu,
  .example-box,
  .item {
    background-color: #303030 !important;
    color: white !important;
  }

  .mat-toolbar {
    background-color: #303030 !important;
  }

  .headerActionsButtons {
    color: white;
  }

  .headerActionsButtons:disabled {
    color: rgb(179, 179, 179);
  }

  .form-control {
    color: black !important;
  }

  .FormTable {
    background-color: #303030;
    color: white;
    th,
    td {
      color: white;
    }
  }

  input,
  select,
  mat-select,
  mat-option,
  mat-label,
  .mat-mdc-select-min-line,
  .mat-mdc-select-arrow,
  .mat-select-panel,
  .mat-mdc-form-field-required-marker {
    color: white !important;
  }

  .mat-select-panel,
  .dc-checkbox__background {
    background-color: white;
  }

  .cdkTableColors {
    background-color: #303030;
    color: white;

    cdk-header-cell,
    .darkColors {
      color: white !important;
    }
  }

  .header {
    color: black !important;
  }
}
