@use "@angular/material" as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$deep-orange-palette, 500);
$my-accent: mat.define-palette(mat.$blue-grey-palette, 700, A100, A400);

$dark-primary: mat.define-palette(mat.$pink-palette, 500);
$dark-accent: mat.define-palette(mat.$light-blue-palette, 500);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$dark-theme: mat.define-light-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
    ),
    background-color: #333,
  )
);

@include mat.all-component-themes($my-theme);
.darkMode {
  background-color: #333;
  color: whitesmoke;
  @include mat.all-component-colors($dark-theme);
}
