<div class="shape-top">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>
<div class="shape-bottom">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
    <path
      d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z"
      class="shape-fill"></path>
  </svg>
</div>

<div class="content">
  <img src="../../assets/AngularJS-Shield.svg" class="center shape">
  <h2>Projeto com principais funcionalidades do Angular</h2>
  <p>
    Infelizmente nos dias de hoje todo mundo vai tentar passar de você, seja para se passar por superior ou para apenas
    aumentar seu ego ou levantar ainda mais o seu nariz. Por isso eu criei esse projeto, estou basicamente documento
    todas
    as principais fatures do Angular, e refazendo todo que eu já sei para reafirmar meus conhecimentos e moral,
    afinal não quero me sentir mal porque alguém tentou me humilhar e passar por cima de mim. Mas fazer o que né,
    nesse mundo alguns não sabem que habilidade e conhecimento vão sendo adquiridos com o tempo, mas caráter não,
    caráter vem desde cedo, vem dentro de casa, uma coisa que o pai passa para o filho e o filho vai passar para o neto
    assim em diante.
  </p>
  <p>
    Hoje em dia a pressão imposta da sociedade em cada indivíduo está no deixando loucos, é como se tudo fosse
    uma eterna competição sobre quem é melhor, não tem mais espaço para criatividade e arte, é tudo sobre ganhar
    dinheiro.
  </p>
  <p>
    Talvez um dia eu vou descobrir a verdadeira paz e encontrar a felicidade,
    e talvez isso tudo não seja uma conta bancária recheada ou um carro do ano, talvez possa ser algo mais profundo e
    abstrato.
    Talvez a felicidade seja amar alguém, ter algo para cuidar, algo além nos mesmos, outro objetivo além do
    desenvolvimento pessoal.
  </p>
  <p>
    Agora aproveite os exemplos para aprimorar suas habilidades no Angular. <mat-icon
      style="position: relative; top: 8px;">tag_faces</mat-icon>
  </p>
</div>