<div class="content">
  <img src="../../assets/AngularJS-Shield.svg" class="center shape" />
  <h2>Projeto com principais funcionalidades do Angular</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ultricies,
    urna nec eleifend vehicula, ante erat egestas tortor, sit amet ultricies ex
    turpis sit amet tellus. Donec finibus pretium sapien in dignissim. Praesent
    tempus aliquam nulla sed scelerisque. Maecenas efficitur sollicitudin ipsum
    nec facilisis. Proin placerat tortor urna, vel blandit ante pellentesque id.
    Suspendisse dolor metus, varius id mollis vel, pretium nec felis. Praesent
    vestibulum nibh ut arcu suscipit efficitur. Duis imperdiet nunc placerat
    suscipit malesuada. Donec ac ornare tortor, vel finibus enim. Phasellus
    maximus diam vitae hendrerit cursus. Duis tincidunt diam eu nunc dignissim
    tincidunt. Etiam maximus nulla sit amet diam auctor pretium. Nullam rhoncus
    mi ac quam ullamcorper, vel tristique augue mattis. Sed nec mauris porta,
    ultricies nunc et, rhoncus nunc. Quisque tristique ut sapien a varius. Nunc
    condimentum facilisis orci non rhoncus. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas. Nunc
    placerat in augue vitae posuere. Nam fringilla vitae lectus euismod tempor.
    Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis non lacus
    mattis, pharetra arcu et, varius erat. Morbi facilisis tellus non mauris
    malesuada, a maximus dui tristique. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Quisque sollicitudin neque
    sit amet finibus porta. Proin risus eros, ornare nec condimentum in,
    consequat at mi. Duis in mauris lobortis, semper velit at, rhoncus est.
    Mauris enim dui, auctor ac mattis at, lobortis at nibh. Curabitur aliquam
    tellus sit amet faucibus consequat. Vivamus vulputate molestie lectus sit
    amet molestie. Praesent sed auctor ipsum. Nunc nec ante posuere, mattis
    nulla sit amet, sollicitudin leo. Nullam ultricies commodo ligula, eget
    placerat nulla luctus in. Donec non lorem pellentesque, porttitor tortor ac,
    sollicitudin diam. Mauris ultrices elit ac odio bibendum elementum.
    Phasellus aliquam sapien vel enim sollicitudin imperdiet. Suspendisse quis
    eros ac metus sollicitudin elementum. Integer sagittis ipsum ut mauris
    vulputate iaculis. Curabitur arcu ex, dictum sit amet blandit sit amet,
    tempus eget felis. In sed sollicitudin risus, nec aliquet turpis. In
    ullamcorper tortor tempor, maximus massa ac, dapibus risus. Vivamus egestas
    quam nec massa vehicula, vel scelerisque dui faucibus. Integer viverra
    convallis dictum. Nulla tincidunt, purus nec fringilla sollicitudin, ante
    ante interdum elit, sed ultricies ipsum lectus a est. Suspendisse nec nisi
    ex.
  </p>
  <p>
    Aproveite os exemplos para aprimorar suas habilidades no Angular.
    <mat-icon style="position: relative; top: 8px">tag_faces</mat-icon>
  </p>
</div>
